.about-me {
  margin-top: 2rem;
  color: #212227;
  font-family: 'Raleway', sans-serif;
  padding: 2rem;
  background-image: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 2.5rem;
  }

  p {
    text-align: left;
    font-size: 1.5rem;
    line-height: 2.3rem;
  }
}

.about-text::first-letter {
  font-size: 3rem;
  font-weight: 700;
  padding-right: 0.1rem;
  font-family: 'Vollkorn', serif;
}

.social-media {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  padding: 0;

  .social-icon {
    height: 2rem;
    margin: 0 0.5rem;
  }
}

a.about-contact {
  color: $primary-orange;
  font-weight: 700;
}

a.about-contact:hover {
  text-decoration: underline;
}
