.about-me {
  margin-top: 2rem;
  color: $primary-black;
  padding: 2rem;
  background-image: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 2.5rem;
  }

  p {
    text-align: left;
    font-size: 1.5rem;
    line-height: 2.3rem;
  }
}

.underline {
  border: 1px solid #caccce;
  width: 100%;
}

p.about-text {
  margin-bottom: 3rem;
}

p.about-text-next {
  color: $primary-black;
  text-align: left;
  font-size: 1.5rem;
  line-height: 2.3rem;
  margin-bottom: 3rem;
  margin-top: 0;
  padding-top: 2rem;
}
.social-media {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 2rem;
  padding: 0;

  .social-icon {
    height: 2rem;
    margin: 0 0.5rem;
  }
}

h1.about-me-header {
  align-self: flex-start;
  margin-bottom: 0;
  font-size: 1.7rem;
  padding-bottom: 1rem;
}

a.about-contact {
  color: $primary-orange;
  font-weight: 700;
}

a.about-contact:hover {
  text-decoration: underline;
}
