.about-me {
  margin-top: 2rem;
  color: #212227;
  font-family: 'Raleway', sans-serif;
  padding: 2rem;
  background-image: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 2.5rem;
  }

  p {
    text-align: left;
    font-size: 1.5rem;
  }
}

.social-media {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  padding: 0;

  .social-icon {
    height: 2rem;
    margin: 0 0.5rem;
  }
}
