.footer {
  text-align: center;
  font-size: 0.9rem;
  padding: 3rem 1rem;
  background-color: $main;
  color: $letters;
}

.fas {
  color: #ed4040;
}

.footer p {
  margin: 0 0 3px 0;
}

.beard-logo {
  height: 1rem;
}
