body {
  margin: 0;
}

header {
  padding: 20px;
  background-color: rgb(226, 226, 226);

  nav {
    list-style: none;
    display: flex;
    justify-content: space-between;

    .hamburger div {
      border: 1px solid black;
      width: 25px;
      margin: 5px;
    }
  }
}
