.headshot {
  height: 12rem;
  width: auto;
  margin: auto;
  border-radius: 100%;
  border: 10px solid rgba($color: #d5dfef, $alpha: 0.5);
}

.headshot-container {
  height: 20rem;
  display: flex;
}

.headshot-container::after {
  content: '';
  background: url('/images/beach2.jpg');
  background-size: cover;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  height: 25rem;
}

.main {
  display: flex;
  flex-direction: column;
}
