$primary-black: #212227;
$primary-gray: #eff1f4;

// Standard Colors:
// $main: #2355aac;
// $secondary: #f7a50e;
// $letters: #d5dfef;

// Thanksgiving colors:
// $main: #512215;
// $secondary: #e77935;
// $letters: #e1ce7a;

// Christmas Colors:
// $secondary: #a1211c;
// $main: #3f7f3d;
// $letters: #f8e27b;

// New Years Colors:
$secondary: #ad4e97;
$main: #211f2f;
$letters: #ffeffb;

@import 'header';
@import 'headshot';
@import 'aboutme';
@import 'languages';
@import 'footer';
@import 'portfolioItems';
@import 'resume';

html {
  font-family: 'Raleway', sans-serif;

  a {
    text-decoration: none;
    color: $letters;
  }
}

@media (max-width: 700px) {
  .big-header {
    display: none;
  }

  p.about-text {
    font-size: 1.2rem;
  }

  p.about-text-next {
    font-size: 1.2rem;
  }
}

@media (min-width: 700px) {
  .hamburger {
    display: none;
  }

  .big-nav {
    display: flex;
    justify-content: flex-start;
  }

  .big-header {
    padding: 0.5rem 1.5rem 0 1.5rem;
    font-size: 1.5rem;
  }

  .contact {
    font-size: 1.2rem;
  }

  .headshot {
    height: 17rem;
  }

  .headshot-container {
    height: 28rem;
  }

  .headshot-container::after {
    height: 33rem;
  }

  .about-me {
    padding: 4rem;
  }
}

@media (min-width: 1000px) {
  .headshot-container {
    height: 35rem;
  }

  .headshot-container::after {
    height: 40rem;
  }
}

@media (min-width: 1300px) {
  .headshot-container {
    height: 44rem;
  }

  .headshot-container::after {
    height: 48rem;
  }

  .about-me {
    padding: 4rem 7rem 4rem 7rem;
  }
}
