.resume-container {
  background-color: $primary-gray;
}

.resume-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}

.resume {
  height: 65rem;
  margin: 2rem 0;
}

.pdf {
  color: $primary-black;
  text-decoration: none;
}

.pdf-header {
  margin: 1rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pdf-icon {
  height: 3.5rem;
}

a.pdf:hover {
  color: $secondary;
  transition: 0.4s all ease-in-out;
}

@media (min-width: 700px) {
  .resume-container {
    padding-top: 5.5rem;
  }
}

@media (max-width: 850px) {
  .resume {
    height: 50rem;
    margin: 2rem 0;
  }
}

@media (max-width: 650px) {
  .resume {
    height: 40rem;
    margin: 2rem 0 8rem 0;
  }
}

@media (max-width: 500px) {
  .resume {
    height: 30rem;
    margin: 2rem 0 17rem 0;
  }
}

@media (max-width: 400px) {
  .resume {
    height: 25rem;
    margin: 2rem 0 21rem 0;
  }
}
